src/
root/
keys/
bzImage
busybox
initramfs.cpio.gz
build.log
syslinux.cfg
*.img
*.squashfs
*.verity
*.uki
*.efi
*.fd
sysroot/
esp/
ovmf-vars.fd
vrl.efi
vrl-signed.efi
verity.info
verity.roothash
cmdline.txt
ta.h
bash
ii
tlstunnel
rootfs.squashfs
esp.part
sources.sha256.tmp
