src/
root/
keys/
/bzImage
/busybox
initramfs.cpio.gz
build.log
syslinux.cfg
*.img
*.squashfs
*.verity
*.uki
*.efi
*.fd
sysroot/
esp/
ovmf-vars.fd
vos.efi
vos-signed.efi
verity.info
verity.roothash
/cmdline.txt
/ta.h
/ii
/tlstunnel
/rootfs.squashfs
/esp.part
bzImage.config.sha256
/abduco
/learn/lessons/
/learn/challenges/
/cryptsetup
/wg
/dropbearmulti
