src/
root/
keys/
bzImage
busybox
initramfs.cpio.gz
build.log
syslinux.cfg
*.img
*.squashfs
*.verity
*.uki
*.efi
*.fd
sysroot/
esp/
ovmf-vars.fd
heatos.efi
heatos-signed.efi
verity.info
verity.roothash
cmdline.txt
